name: CI

on:
  push:
    branches:
      - main
      - 'v*' # older version branches
    tags:
      - '*'

  pull_request: {}
  schedule:
    - cron: '0 6 * * 0' # weekly, on sundays

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm lint

  test:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm test

  floating-test:
    name: Floating dependencies
    strategy:
      fail-fast: false
      matrix:
        node: ['18', '20', '22']
        ember: ['~3.28.0', '~4.12.0', '~5.12.0', '~6.4.0', 'latest', 'beta']
        os: ['ubuntu-latest']
        include:
          - node: 22
            ember: '~6.4.0'
            os: windows-latest
          - node: 22
            ember: latest
            os: windows-latest

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          cache: 'pnpm'
          node-version: ${{ matrix.node }}
      - name: Set ember version
        run: node ./scripts/set-ember-version.mjs ${{ matrix.ember }}
      - run: pnpm install --no-lockfile
      - run: pnpm test
